BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
ColumnLimit: 80
AlignOperands: Align
BreakBeforeBinaryOperators: All
