BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
AccessModifierOffset: -2
IndentPPDirectives: AfterHash
ColumnLimit: 80
AlignOperands: Align
BreakBeforeBinaryOperators: All
AlwaysBreakTemplateDeclarations: Yes
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
PackConstructorInitializers: Never
MaxEmptyLinesToKeep: 3
SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
IncludeBlocks: Preserve
SortIncludes: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
LambdaBodyIndentation: Signature
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
FixNamespaceComments: true
CompactNamespaces: false
